<footer class="footer">
  {% for item in site.data.settings.social %}
    {% if site.data.authors.primary[item.icon] %}
      {% assign link = item.link | append: site.data.authors.primary[item.icon] %}
      <a href="{{ link }}" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
    {% endif %}
  {% endfor %}
  <a href="{{ site.github.url }}/feed.xml" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a>
  <div class="post-date">
  	<a href="{{ site.github.url }}/about.html">{{ site.data.settings.title }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ site.data.settings.tagline }}</a>
  	<div>
      <small>
        {% if site.data.authors.primary.keybase %}
          <a href="https://keybase.io/{{ site.data.authors.primary.keybase }}" target="_blank"><i class="fa fa-key"></i> {{ site.data.authors.primary.keybase }} on Keybase</a> |
        {% endif %}
        <a href="{{ site.github.url }}/docs/terms.html">Terms and Conditions</a> |
        <a href="{{ site.github.url }}/about.html">About</a> |
        <a href="{{ site.github.url }}/contact.html">Contact</a>
  	  </small>
    </div>
  </div>
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
</footer>
