<div class="menu">
  <nav class="menu-content">
    {% for item in site.data.settings.menu %}
      {% if item.leafs %}
        <a role="button" href="javascript:toggleHidden('{{ item.name | replace: ' ', '_' }}')">{{ item.name }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        {% for leaf in item.leafs %}
          <a class="{{ item.name | replace: ' ', '_' }} hide" href="{{ site.github.url }}/{{ leaf.url }}">{{ leaf.name }}</a>
        {% endfor %}
        <span class="{{ item.name | replace: ' ', '_' }} hide">|&nbsp;</span>
      {% else %}
        <a href="{{ site.github.url }}/{{ item.url }}">{{ item.name }}</a>
      {% endif %}
    {% endfor %}
  </nav>
  <nav class="social-icons">
    <a href="{{ site.github.url }}/search.html"><i class="fa fa-search" aria-hidden="true"></i></a>
    {% for item in site.data.settings.social %}
      {% if item.head and site.data.authors.primary[item.icon] %}
        {% assign link = item.link | append: site.data.authors.primary[item.icon] %}
        <a href="{{ link }}" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
      {% endif %}
    {% endfor %}
    <a href="{{ site.github.url }}/feed.xml" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a>
  </nav>
</div>
