Written on
{% assign d = include.item.date | date: "%-d"  %}
{{ include.item.date | date: "%B" }}
{% case d %}
  {% when '1' or '21' or '31' %}
    {{ d }}st
  {% when '2' or '22' %}
    {{ d }}nd
  {% when '3' or '23' %}
    {{ d }}rd
  {% else %}
    {{ d }}th
{% endcase %},
{{ include.item.date | date: "%Y" }}
by
<span class="post-line">
  {% if include.item.author %}
    {% if include.item.authorlink %}
      <a href="{{ include.item.authorlink }}">{{ include.item.author }}</a>
    {% else %}
  	  {{ include.item.author }}
    {% endif %}
  {% else %}
    <a href="{{ site.github.url }}/about.html">{{ site.data.authors.primary.name }}</a>
  {% endif %}
</span>
