---
layout: default
---

<h1>
  {% if page.series %}{{ page.series }} - {% endif %}{{ page.title }}
</h1>
<div class="share-container hide-on-mobiles">
	<span class="post-line"><a href="https://github.com/{{ site.data.authors.primary.github }}/{{ site.data.settings.github-repository }}/edit/{{ site.data.settings.github-branch }}/{{ page.path }}"><i class="fa fa-pencil"></i> Improve this page</a></span>
</div>

<span class="post-date">
  <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html item=page %} | {% include tags.html %}
</span>

<div class="feature">
  {% if page.image.credit %}
    {% assign title = 'title="Author: ' | append: page.image.credit | append: '"' %}
  {% endif %}
  
  {% if page.image.creditlink %}
    <a href="{{ page.image.creditlink }}">
  {% endif %}
  
  {% if page.image.feature contains 'http://' or page.image.feature contains 'https://' %}
    <img {{ title }} src="{{ page.image.feature }}" alt="">
  {% else %}
    <img {{ title }} src="{{ site.data.settings.assets-img }}/{{ page.image.feature }}" alt="">
  {% endif %}

  {% if page.image.creditlink %}
    </a>
  {% endif %}
</div>

{{ content }}

<span class="post-date">
  {% include post-signature.html item=page %}
</span>

{% include donation.html %}

{% include social-sharing.html %}

{% if page.series %}
  {% include series-posts.html %}
{% endif %}

{% include related-posts.html %}

{% if site.data.settings.disqus.comments %}
  {% include disqus.html %}
{% endif %}
